<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace : 해당 XML파일을 어떤 Mapper 인터페이스와 연결할지를 정해주는 속성.
-->
<mapper namespace="com.zzanmat.tour.member.mapper.MemberMapper">

    <insert id="insertMember" parameterType="MemberDto">
        INSERT INTO
        `USER`
        (
         USER_ID
        ,USER_PASSWORD
        ,EMAIL
        ,NICKNAME
        ,USER_NAME
        ,BIO
        ,PROFILE
        )
        VALUES
        (
         #{userId}
        ,#{userPassword}
        ,#{email}
        ,#{nickname}
        ,#{userName}
        ,#{bio}
        ,#{profile}
        )
    </insert>

    <select id="countByMemberId" parameterType="string" resultType="int">
        SELECT COUNT(*)
          FROM `USER`
         WHERE USER_ID = #{userId}
    </select>

    <select id="selectByMemberId" parameterType="string" resultType="MemberDto">
        SELECT id
              ,user_id
              ,user_password
              ,nickname
              ,email
              <!--,DATE_FORMAT(create_at, '%Y-%M-%d %H:%i') as create_at_str-->
          FROM `USER`
         WHERE user_id = #{userId}
    </select>

    <update id="memberUpdate">
        UPDATE `USER`
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="bio != null">
                bio = #{bio},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="profile != null">
                profile = #{profile},
            </if>
        </set>
         WHERE USER_ID = #{userId}
    </update>

    <select id="selectUser" parameterType="MemberDto" resultType="MemberDto">
        SELECT user_id
              ,nickname
              ,bio
              ,user_name
              ,email
              ,profile
          FROM `USER`
         WHERE USER_ID = #{userId}
    </select>

    <delete id="deleteMember">
        DELETE FROM user
         WHERE user_id = #{userId}
    </delete>

</mapper>