<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzanmat.tour.post.mapper.PostMapper">

    <resultMap id="postResultMap"
               type="PostDto">

        <id property="postId" column="POST_ID"/>

        <result property="userId" column="USER_ID"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="viewCount" column="VIEW_COUNT"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="isBlock" column="IS_BLOCK"/>
        <result property="transportCost" column="TRANSPORT_COST"/>
        <result property="foodCost" column="FOOD_COST"/>
        <result property="otherCost" column="OTHER_COST"/>
        <result property="thumbnailPath" column="THUMBNAIL_PATH"/>



    </resultMap>

    <select id="findAll" resultMap="postResultMap">
        SELECT
            P.POST_ID,
            P.USER_ID,
            P.TITLE,
            P.VIEW_COUNT,
            P.CREATE_AT,
            P.IS_BLOCK
        FROM POST P
        WHERE P.IS_BLOCK = FALSE

        <choose>

            <when test="sort == 'views'">
                ORDER BY P.VIEW_COUNT DESC, P.POST_ID DESC
            </when>

            <when test="sort == 'popular'">
                ORDER BY (
                    SELECT COUNT(*)
                    FROM POST_LIKE PL
                    WHERE PL.POST_ID = P.POST_ID
                ) DESC,
                P.POST_ID DESC
            </when>

            <otherwise>
                ORDER BY P.POST_ID DESC
            </otherwise>
        </choose>

    </select>
<select id="findById"
        parameterType="long"
        resultMap="postResultMap">
    SELECT
        P.POST_ID,
        P.USER_ID,
        P.TITLE,
        P.CONTENT,
        P.VIEW_COUNT,
        P.CREATE_AT,
        P.IS_BLOCK,
        P.TRANSPORT_COST,
        P.FOOD_COST,
        P.OTHER_COST
    FROM POST P
    WHERE P.POST_ID = #{postId}
        AND P.IS_BLOCK = FALSE
</select>
    <insert id="save"
            parameterType="PostDto"
            useGeneratedKeys="true"
            keyProperty="postId">

        INSERT INTO POST (
            USER_ID,
            TITLE,
            CONTENT,
            VIEW_COUNT,
            CREATE_AT,
            IS_BLOCK,
            TRANSPORT_COST,
            FOOD_COST,
            OTHER_COST
        )
        VALUES (
            #{userId},
            #{title},
            #{content},
            0,
            now(),
            FALSE,
            #{transportCost},
            #{foodCost},
            #{otherCost}
        )
    </insert>

    <update id="increaseViewCount">
        UPDATE POST
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE POST_ID = #{postId}
    </update>

    <update id="update"
            parameterType="com.zzanmat.tour.post.dto.PostDto">
        UPDATE POST
        SET
            TITLE = #{title},
            CONTENT = #{content},
            TRANSPORT_COST = #{transportCost},
            FOOD_COST = #{foodCost},
            OTHER_COST = #{otherCost}
        WHERE POST_ID = #{postId}
    </update>

    <update id="deleteById">
        UPDATE POST
        SET IS_BLOCK = TRUE
        WHERE POST_ID =#{postId}
    </update>

    <select id="findPage" resultMap="postResultMap">
        SELECT
            P.POST_ID,
            P.USER_ID,
            P.TITLE,
            P.CONTENT,
            P.VIEW_COUNT,
            P.CREATE_AT,
            P.IS_BLOCK,
            (
                SELECT IU.UPLOAD_PATH
                FROM POST_UPLOAD PU
                JOIN IMAGE_UPLOAD IU
                    ON IU.UPLOAD_ID = PU.UPLOAD_ID
                WHERE PU.POST_ID = P.POST_ID
                ORDER BY IU.IMAGE_ORDER ASC
                LIMIT 1
            ) AS THUMBNAIL_PATH
        FROM POST P
        WHERE P.IS_BLOCK = FALSE

        <choose>
            <when test="sort == 'views'">
                ORDER BY P.VIEW_COUNT DESC, P.POST_ID DESC
            </when>

            <when test="sort == 'popular'">
                ORDER BY P.VIEW_COUNT DESC, P.POST_ID DESC
            </when>

            <otherwise>
                ORDER BY P.POST_ID DESC
            </otherwise>
        </choose>

        LIMIT #{size}
        OFFSET #{offset}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM POST
        WHERE IS_BLOCK = FALSE
    </select>

    <insert id="saveImage"
            parameterType="PostImageDto"
            useGeneratedKeys="true"
            keyProperty="uploadId">
        INSERT INTO IMAGE_UPLOAD (
            ORIGIN_NAME,
            UPLOAD_PATH,
            IMAGE_ORDER
        )
        VALUES (
            #{originName},
            #{uploadPath},
            #{imageOrder}
        )
    </insert>

    <insert id="savePostImage">
        INSERT INTO POST_UPLOAD (
            POST_ID,
            UPLOAD_ID
        )
        VALUES (
            #{postId},
            #{uploadId}
        )
    </insert>

    <select id="findImagesByPostId"
            resultType="PostImageDto">
        SELECT
            IU.UPLOAD_ID,
            PU.POST_ID,
            IU.ORIGIN_NAME,
            IU.UPLOAD_PATH,
            IU.IMAGE_ORDER
        FROM POST_UPLOAD PU
        JOIN IMAGE_UPLOAD IU
            ON IU.UPLOAD_ID = PU.UPLOAD_ID
        WHERE PU.POST_ID = #{postId}
        ORDER BY IU.IMAGE_ORDER ASC
    </select>

    <delete id="deleteByPostIdAndUploadId">
        DELETE FROM POST_UPLOAD
        WHERE POST_ID = #{postId}
            AND UPLOAD_ID = #{uploadId}
    </delete>

    <delete id="deleteImage">
        DELETE FROM IMAGE_UPLOAD
        WHERE UPLOAD_ID = #{uploadId}
    </delete>

    <update id="updateImageOrder">
        UPDATE IMAGE_UPLOAD
        SET IMAGE_ORDER = #{imageOrder}
        WHERE UPLOAD_ID = #{uploadId}
    </update>

    
</mapper>